---
swagger: "2.0"
info:
  description: "This is a sample server role-service."
  version: "1.0.0"
  title: "Swagger role-service"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "wit2022.v1@gmail.com>"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "medicalcenter.roleservice"
basePath: "/v1"
tags:
  - name: "User"
    description: "Users"
  - name: "role"
    description: "Users roles"
  - name: "permission"
    description: "Roles permissions"
schemes:
  - "http"
paths:
  /createUser:
    post:
      tags:
        - "user"
      summary: "Add a new user to the service"
      description: ""
      operationId: "addUser"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "User object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        405:
          description: "Invalid input"
  /updateUser:
    put:
      tags:
        - "user"
      summary: "Update an existing user"
      description: ""
      operationId: "updateUser"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "User object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "User not found"
        405:
          description: "Validation exception"
  /user/findByExternalID/{externalID}:
    get:
      tags:
        - "user"
      summary: "Finds User by external id"
      operationId: "findUserByExternalID"
      produces:
        - "application/json"
      parameters:
        - name: "externalID"
          in: "path"
          description: "External id that need to be considered for filter"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            items:
              $ref: "#/definitions/User"
        400:
          description: "Invalid externalID value"
  /user/deleteByExternalID/{externalID}:
    delete:
      tags:
        - "user"
      summary: "Deletes a user"
      description: ""
      operationId: "deleteUser"
      produces:
        - "application/json"
      parameters:
        - name: "externalID"
          in: "path"
          description: "External id that need to be considered for filter"
          required: true
          type: "string"
      responses:
        400:
          description: "Invalid user name value"
  /createRole:
    post:
      tags:
        - "role"
      summary: "Add a new role to the service"
      description: ""
      operationId: "addRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Role object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/Role"
      responses:
        405:
          description: "Invalid input"
  /updateRole:
    put:
      tags:
        - "role"
      summary: "Update an existing role"
      description: ""
      operationId: "updateRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Role object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid roles name supplied"
        404:
          description: "Roles name not found"
        405:
          description: "Validation exception"
  /role/findByName/{rolesName}:
    get:
      tags:
        - "role"
      summary: "Finds Role by roles name"
      operationId: "findRoleByRolesName"
      produces:
        - "application/json"
      parameters:
        - name: "rolesName"
          in: "path"
          description: "Roles name that need to be considered for filter"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            items:
              $ref: "#/definitions/Role"
        400:
          description: "Invalid roles name value"
  /role/deleteByRolesName/{rolesName}:
    delete:
      tags:
        - "role"
      summary: "Deletes a role"
      description: ""
      operationId: "deleteRole"
      produces:
        - "application/json"
      parameters:
        - name: "rolesName"
          in: "path"
          description: "Roles name that need to be considered for filter"
          required: true
          type: "string"
      responses:
        400:
          description: "Invalid roles name value"
  /createPermission:
    post:
      tags:
        - "permission"
      summary: "Add a new permission to the service"
      description: ""
      operationId: "addPermission"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Permission object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/Permission"
      responses:
        405:
          description: "Invalid input"
  /updatePermission:
    put:
      tags:
        - "permission"
      summary: "Update an existing permission"
      description: ""
      operationId: "updatePermission"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Permission object that needs to be added to the service"
          required: true
          schema:
            $ref: "#/definitions/Permission"
      responses:
        400:
          description: "Invalid roles name supplied"
        404:
          description: "Roles name not found"
        405:
          description: "Validation exception"
  /permission/findByName/{permissionName}:
    get:
      tags:
        - "Permission"
      summary: "Finds permission by permission name"
      operationId: "findPermissionByPermissionsName"
      produces:
        - "application/json"
      parameters:
        - name: "permissionName"
          in: "path"
          description: "Permission name that need to be considered for filter"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            items:
              $ref: "#/definitions/Permission"
        400:
          description: "Invalid roles name value"
  /user/deleteByPermissionsName/{PermissionsName}:
    delete:
      tags:
        - "permission"
      summary: "Deletes a permission"
      description: ""
      operationId: "deletePermission"
      produces:
        - "application/json"
      parameters:
        - name: "PermissionsName"
          in: "path"
          description: "Permissions name that need to be considered for filter"
          required: true
          type: "string"
      responses:
        400:
          description: "Invalid Permissions name value"
definitions:
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      externalId:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      createdBy:
        type: "string"
      updatedBy:
        type: "string"
      role:
        type: "object"
        description: "Users role"
        $ref: "#/definitions/Role"
    xml:
      name: "User"
  Role:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      description:
        type: "string"
      permissions:
        type: "array"
        items:
          $ref: "#/definitions/Permission"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      createdBy:
        type: "string"
      updatedBy:
        type: "string"
    xml:
      name: "Role"
  Permission:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      description:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      createdBy:
        type: "string"
      updatedBy:
        type: "string"
    xml:
      name: "Permission"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"